extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success("5000")
    +alert-error('5000')
    
        h1 #{pageTitle}    
        form(
            action=`${prefixAdmin}/account/create`,
            method="POST"
            enctype="multipart/form-data"
        ) 




                    )  
                button(
                    type="submit"

        script.
            function handleRoleChange() {
                var roleSelect = document.getElementById('RoleID');
                var doctorFields = document.getElementById('doctorFields');
                if (roleSelect.value === 'RL0002') {
                    doctorFields.style.display = 'block';
                } else {
                    doctorFields.style.display = 'none';
                }
            }