extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
        +alert-success("5000")
        +alert-error('5000')
        h1 #{pageTitle}     
        form(
            action=`${prefixAdmin}/account/edit/${data.id}?_method=PATCH`,
            method="POST"
            enctype="multipart/form-data"
        ) 
            div(class="form-group")
                label(for="fullName") Họ và Tên *
                input(
                    type="text" 
                    id="fullName" 
                    name="fullName"
                    class="form-control custom-input"
                    required
                    value=data.fullName
                    ) 
            div(class="form-group")
                label(for="email") Email *
                input(
                    type="text" 
                    id="email" 
                    name="email"
                    class="form-control custom-input"
                    value=data.email
                    required
                    )
            div(class="form-group")
                label(for="address") Địa chỉ *
                input(
                    type="text" 
                    id="address" 
                    name="address"
                    class="form-control custom-input"
                    value=data.address
                    )
            div(class="form-group")
                label(for="password") Password *
                input(
                    type="password" 
                    id="password" 
                    name="password"
                    class="form-control custom-input"
                    placeholder="Nhập vào thay đổi mật khẩu mới"
                    )
            div(class="form-group")
                label(for="phone") Số điện thoại
                input(
                    type="number" 
                    id="phone" 
                    name="phone"
                    class="form-control custom-input"
                    value=data.phone
                    )
            
            div(
                class="form-group"
                upload-image
                )
                label(for="avatar") Hình ảnh
                input(
                    type="file" 
                    id="avatar" 
                    name="avatar"
                    class="form-control-file"
                    upload-image-input     
                    )
                img(
                    src=data.avatar
                    upload-image-preview
                    class="upload-preview"
                )
                
            div(class="form-group")
                label(for="role_id") Phân Quyền
                select(name="role_id" id = "role_id" class="form-control custom-input")
                    option(disabled selected) --- Lựa chọn ---
                    each role in roles
                        option(
                            value=role.id
                            selected= (role.id == data.role_id) ? true: false
                        ) #{role.name}
           
            div(class="form-group ")
                input(type="hidden" name="role_i_old" value=data.role_id)
                
            div(class="form-group form-check form-check-inline")
                input(type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked=(data.status === "active") ? true: false
                    )  
            
                label(for="statusActive" class="form-check-label" ) Hoạt động 
            div(class="form-group form-check form-check-inline")
                input(type="radio"
                    class="form-check-input"
                    id="statusInactive"
                    name="status"
                    value="inactive"
                    checked=(data.status === "inactive") ? true: false
                    )  
                label(for="statusInactive" class="form-check-label" ) Dừng hoạt động 
                    
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Cập nhật 
        