extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/mixin-title.pug

block main
    +alert-success("5000")
    +alert-error('5000')
    +title("Gán Bác Sĩ Cho Lịch Hẹn")
    .block-sider(style="width:90%;margin-left:180px;")
        .container.mt-4
            .card.mb-4.bg-light
                .card-body.text-center
                    h1.card-title(style="color: #5aaeba;") Thông tin lịch hẹn
                    p.card-text(style="font-size: 23px;")
                        strong Ngày: 
                        span.text-info #{dataFormat}
                    p.card-text(style="font-size: 23px;")
                        strong Giờ: 
                        span.text-info #{time}
            
            .row
                each vet in availableVets
                    .col-lg-4.col-md-6.mb-4
                        .card.h-100.shadow-sm
                            .card-header.text-white(style="background-color: #5aaeba;")
                                h5.card-title.mb-0.text-center= vet.FullName
                            img.card-img-top(src=vet.Avatar, alt=vet.FullName style="height: 200px; object-fit: cover;")
                            .card-body
                                h4.card-subtitle.mb-2.text-muted.text-center ID Bác sĩ: #{vet.VetID}
                                
                                h5.mt-3.mb-3.text-center(style="color: #5aaeba;") Lịch làm việc ngày #{dataFormat}:
                                ul.list-group.list-group-flush
                                    each shift in vetShifts[vet.VetID]
                                        li.list-group-item.d-flex.justify-content-between.align-items-center(class=`${shift.shift === time ? 'active css-active' : ''}`)
                                            b= shift.shift
                                            if shift.isAvailable
                                                b.badge.bg-success.fs-6.px-3.py-2 Trống
                                            else
                                                b.badge.bg-danger.fs-6.px-3.py-2 Đã đặt
                                
                            .card-footer.bg-white.border-top-0
                                a.btn.btn-primary.btn-block.w-100(href=`/staff/appointment/assign/${appointmentID}/${vet.VetID}` style="background-color: #5aaeba;") 
                                    i.fas.fa-user-md.me-2
                                    | Chọn bác sĩ này