extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/mixin-title.pug

block main
   
  +alert-success("5000")
  +alert-error('5000')
  +title("Hồ sơ dịch vụ")
  style.
      #table-appointment thead tr th{
        background-color: #86d0dbf5 !important
      }
      .btn-custom-outline {
        color: #21a0b3;
        background-color: transparent;
        border-color: #21a0b3;
      }
      .btn-custom-outline.active,
      .btn-custom-outline:active,
      .btn-custom-outline:focus,
      .btn-custom-outline:hover {
        color: #ffffff !important;
            background: linear-gradient(135deg, #6aafd3 0%, #8bafce 100%) !important;
        border-color: #21a0b3 !important;
      }
  //- pre
  //-     code= JSON.stringify(listAppointment, null, 2)
  .block-sider(style="width:90%;margin-left:140px;")   
    .card.mb-3(style="margin: 0 50px 50px;")
      .card-header(style="background: linear-gradient(135deg, #6aafd3 0%, #8bafce 100%);") Bộ lọc 
      .card-body 
        .row 
          .col-6#filter-buttons
            a(
              href=`/staff/appointment`
                class=`btn btn-sm ml-1 btn-custom-outline `
                button-filter
                button-all
              ) Tất cả (#{listAppointmentOrigin.length})
            a(
              href=`/staff/appointment?process=pending`
                class=`btn btn-sm ml-1 btn-custom-outline `
                button-filter
              )  Chờ xác nhận  (#{listAppointmentOrigin.filter(a => a.Process === 'Pending').length})
            
            a(
              href=`/staff/appointment?process=accepted`
                class=`btn btn-sm ml-1 btn-custom-outline  `
                button-filter
              ) Tiếp nhận (#{listAppointmentOrigin.filter(a => a.Process === 'Accepted').length})
            a(
              href=`/staff/appointment?process=ready`
                class=`btn btn-sm ml-1 btn-custom-outline `
                button-filter
              )  Sẵn sàng  (#{listAppointmentOrigin.filter(a => a.Process === 'Ready').length}) 
            a(
              href=`/staff/appointment?process=process`
                class=`btn btn-sm ml-1 btn-custom-outline `
                button-filter
              )  Đang thực hiện  (#{listAppointmentOrigin.filter(a => a.Process === 'Process').length})
            a(
              href=`/staff/appointment?process=successed`
                class=`btn btn-sm ml-1 btn-custom-outline  `
                button-filter
              ) Hoàn thành (#{listAppointmentOrigin.filter(a => a.Process === 'Successed').length})
            a(
              href=`/staff/appointment?process=cancelled`
                class=`btn btn-sm ml-1 btn-custom-outline  `
                button-filter
              ) Hủy bỏ (#{listAppointmentOrigin.filter(a => a.Process === 'Cancelled').length})
              
          .col-6
            form#filterForm(action="/staff/appointment" method="GET")
              .form-group
                label(for="dateFilter") Lọc theo ngày:
                input.form-control(type="date" id="dateFilter" name="date" value=date)
              .form-group
                  label(for="searchName") Tên khách hàng
                  input(type= "text" class="form-control" id="searchName" name="searchName" placeholder="Nhập tên khách hàng" value=searchName style="font-size: 18px;padding: 10px;border-radius: 5px;border: 2px solid grey;height: 40px;")
                  button.btn(type="submit" style="background-color: #21a0b3; color: white; display: none") Tìm
              .form-group
                label(for="services") Dịch vụ
                select.form-control(id="services" name="services" )
                  option( disabled selected) --- Chọn dịch vụ ---
                  option(value="DV0001") Khám sức khỏe
                  option(value="DV0002") Cải thiện môi trường
                  option(value="DV0003") Tư vấn Online
              .form-group
                label(for="sortOrder") Sắp xếp theo:
                select.form-control(id="sortOrder" name="sort" value=sort)
                  option(value="asc") Tăng dần
                  option(value="desc") Giảm dần
              button.btn.payment-btn(type="submit" style="background-color: #21a0b3;   height: 40px;width: 100px;") 
                  span Áp dụng
    if listAppointment.length === 0
      if filterType === 'date'
        p.alert.alert-info(style="text-align: center; margin: 20px; font-size: 1.5em; font-weight: bold;") Không có đơn hẹn nào trong ngày #{dateFormat}.
      else if filterType ==='search'
        p.alert.alert-info(style="text-align: center; margin: 20px; font-size: 1.5em; font-weight: bold;") Không có đơn khách hàng tên #{searchName}.
      else if filterType === 'process'
        case processFilter
          when 'pending'
            p.alert.alert-info(style="text-align: center; margin: 20px; font-size: 1.5em; font-weight: bold;") Không có đơn hẹn nào trong trạng thái Chờ xác nhận.
          when 'accepted'
            p.alert.alert-info(style="text-align: center; margin: 20px; font-size: 1.5em; font-weight: bold;") Không có đơn hẹn nào trong trạng thái Tiếp nhận.
          when 'ready'
            p.alert.alert-info(style="text-align: center; margin: 20px; font-size: 1.5em; font-weight: bold;") Không có đơn hẹn nào trong trạng thái Sẵn sàng.
          when 'process'
            p.alert.alert-info(style="text-align: center; margin: 20px; font-size: 1.5em; font-weight: bold;") Không có đơn hẹn nào trong trạng thái Đang thực hiện.
          when 'successed'
            p.alert.alert-info(style="text-align: center; margin: 20px; font-size: 1.5em; font-weight: bold;")| Không có đơn hẹn nào trong trạng thái Hoàn thành.
          when 'cancelled'
            p.alert.alert-info(style="text-align: center; margin: 20px; font-size: 1.5em; font-weight: bold;") Không có đơn hẹn nào trong trạng thái Đã hủy.
          default
            p.alert.alert-info(style="text-align: center; margin: 20px; font-size: 1.5em; font-weight: bold;") Không có đơn hẹn nào trong trạng thái này.
    else     
     
      table.table#table-appointment
        thead.custom-thead(style="background: linear-gradient(135deg, #6aafd3 0%, #8bafce 100%);")
            tr
                th Mã đơn hàng
                th Tên khách hàng
                th Dịch vụ
                th Ngày hẹn
                th Trạng Thái
                th Bác sĩ
                th Chi tiết lịch hẹn
        tbody
            each appointment in listAppointment
              if(appointment.VetID == null)
                tr(style="background-color: #e7ecf5d1;") 
                    td #{appointment.AppointmentID}
                    td #{appointment.NameCustomer}
                    td #{appointment.Name}
                    td #{appointment.DateFormat}
                    td  
                        h1 #{appointment.VetID}
                        if(appointment.Process == "Pending" && appointment.VetID == null)  
                            a(href=`/staff/appointment/change-process/${appointment.AppointmentID}?process=pending` class="btn btn-warning status-btn payment-btn" style="min-width: 120px;height: 41px;width: 180px;     background: linear-gradient(135deg, #b1cc12, #a8e42bf2);") Chờ xác nhận
                      
                        //- if(appointment.Process == "Pending" && appointment.VetID == null)  
                        //-     a(href=`/staff/appointment/change-process/${appointment.AppointmentID}?process=accepted` class="btn btn-warning status-btn" style="min-width: 120px;") Chờ xác nhận
                        else if(appointment.Process == "Accepted" )
                            span(class="btn btn-primary status-btn payment-btn" style="min-width: 140px; height: 41px;width: 180px;    background: linear-gradient(135deg, #252dbf, #2e29d6);   " ) Tiếp nhận
                        else if(appointment.Process == "Ready" && appointment.Name != "Khám Sức Khỏe" && appointment.AdressAppointment != null)
                            span(class="btn btn-primary status-btn payment-btn" style="min-width: 140px; height: 41px;width: 180px;   background: linear-gradient(135deg, #252dbf, #2e29d6);") Sẵn sàng
                        //-test
                        else if(appointment.Process == "Ready" && appointment.Name == "Khám Sức Khỏe" && appointment.AdressAppointment == null)
                            a(href=`/koi` class="btn btn-primary status-btn payment-btn" style="min-width: 120px; height: 41px;width: 180px;   background: linear-gradient(135deg, #252dbf, #2e29d6);") Sẵn sàng
                        
                        
                        else if(appointment.Process == "Process")
                            span(class="btn btn-dark status-btn payment-btn" style="min-width: 140px;height: 41px;width: 180px;    background: linear-gradient(135deg, #252dbf, #2e29d6);") Tiếp nhận
                        else if(appointment.Process == "Cancelled")
                            span(class="btn btn-danger status-btn" style="min-width: 140px;" ) Hủy bỏ 
                        else if(appointment.Process == "Successed")
                            span(class="btn btn-success status-btn payment-btn" style="min-width: 140px; height: 41px;width: 180px; background: linear-gradient(135deg, #289b56e0, #1f6d35c9);") Thành công 
                    td 
                        if(appointment.VetID == null)
                            form(action=`/staff/appointment/load-vets/${appointment.AppointmentID}` method="GET")
                                input(type="hidden" name="date" value=appointment.Date)
                                input(type="hidden" name="time" value=appointment.Shift)
                                input(type="hidden" name="specialization" value=appointment.Name)
                                if(appointment.Process == "Pending" )
                                  button.btn(
                                      type="submit"
                                      style="background-color: #c8d6d8; color: black; border: 1px solid black; box-shadow: 0px 0px 16px 9px #0e81dd;font-weight: 700;" disabled
                                  ) Gán Bác Sĩ
                                else
                                  button.btn(
                                      type="submit"
                                      style="background-color: #c8d6d8; color: black; border: 1px solid black; box-shadow: 0px 0px 16px 9px #0e81dd;font-weight: 700;" 
                                  ) Gán Bác Sĩ
                    td 
                        a(href=`/staff/appointment/detail/${appointment.AppointmentID}` class="btn btn-info payment-btn" style="    padding: 10px 0 10px 10px;    width: 50px;") 
                          i(class="fa-solid fa-receipt")
                        a(href=`/staff/appointment/delete/${appointment.AppointmentID}` class="btn btn-danger ml-2 payment-btn" style="    padding: 10px 0 10px 10px;     background: linear-gradient(135deg, #bf253e, #d02666);    width: 50px;") 
                          i(class="fa fa-trash " aria-hidden="true") 
                          
              else 
                tr 
                    td #{appointment.AppointmentID}
                    td #{appointment.NameCustomer}
                    td #{appointment.Name}
                    td #{appointment.DateFormat}
                    td  
                        if(appointment.Process == "Pending")  
                            a(href=`/staff/appointment/change-process/${appointment.AppointmentID}?process=accepted` class="btn btn-warning payment-btn" style="min-width: 120px;height: 41px;width: 167px;     background: linear-gradient(135deg, #b1cc12, #a8e42bf2);") Chờ xác nhận
                        else if(appointment.Process == "Accepted")
                            span(class="btn btn-primary payment-btn" style="min-width: 140px; height: 41px;width: 180px;    background: linear-gradient(135deg, #252dbf, #2e29d6);") Tiếp nhận
                        else if(appointment.Process == "Ready" && appointment.Name != "Khám Sức Khỏe" )
                            span(class="btn btn-primary status-btn payment-btn" style="min-width: 140px; height: 41px;width: 180px;   background: linear-gradient(135deg, #252dbf, #2e29d6);") Sẵn sàng
                        else if(appointment.Process == "Ready" && appointment.Name == "Khám Sức Khỏe" && appointment.AdressAppointment != null)
                            span(class="btn btn-primary status-btn payment-btn" style="min-width: 140px; height: 41px;width: 180px;   background: linear-gradient(135deg, #252dbf, #2e29d6);") Sẵn sàng
                        //-test
                        else if(appointment.Process == "Ready" && appointment.Name == "Khám Sức Khỏe" && appointment.AdressAppointment == null)
                            a(href=`/staff/appointment/change-process/${appointment.AppointmentID}?process=process` class="btn btn-primary status-btn payment-btn" style="min-width: 120px; height: 41px;width: 180px;   background: linear-gradient(135deg, #252dbf, #2e29d6);") Sẵn sàng
                        else if(appointment.Process == "Process")
                            span(class="btn btn-dark payment-btn" style="min-width: 140px; height: 41px;width: 180px;    background: linear-gradient(135deg, #181819, #2d2d2f);") Đang thực hiện
                        else if(appointment.Process == "Cancelled")
                            span(class="btn btn-danger" style="min-width: 140px;" ) Hủy bỏ 
                        else if(appointment.Process == "Successed")
                            span(class="btn btn-success payment-btn" style="min-width: 140px;height: 41px;width: 180px; background: linear-gradient(135deg, #289b56e0, #1f6d35c9);") Thành công 
                    td 
                        span(style="background-color: #5AAEBA; color: black; min-width: 200px;" class="btn " ) #{appointment.NameVet}
                      
                    td 
                        a(href=`/staff/appointment/detail/${appointment.AppointmentID}` class="btn btn-info payment-btn" style="    padding: 10px 0 10px 10px;    width: 50px;") 
                          i(class="fa-solid fa-receipt")
                        a(href=`/staff/appointment/delete/${appointment.AppointmentID}` button-delete =`/staff/appointment/delete/${appointment.AppointmentID}` style="    padding: 10px 0 10px 10px;     background: linear-gradient(135deg, #bf253e, #d02666);    width: 50px;" class="btn btn-danger payment-btn ml-2 button-delete") 
                          i(class="fa fa-trash " aria-hidden="true") 


    script.
      document.addEventListener('DOMContentLoaded', function() {
        const filterButtons = document.getElementById('filter-buttons');
        const currentUrl = new URL(window.location.href);
        const processParam = currentUrl.searchParams.get('process');
        const buttons = filterButtons.querySelectorAll('.btn-custom-outline');
        buttons.forEach(btn => {
          const btnUrl = new URL(btn.href);
          const btnProcess = btnUrl.searchParams.get('process');
          if ((!processParam && btn.getAttribute('button-all') !== null) || 
              (processParam && btnProcess === processParam)) {
            btn.classList.add('active');
          }
        });
        filterButtons.addEventListener('click', function(e) {
          if (e.target.classList.contains('btn-custom-outline')) {
            buttons.forEach(btn => btn.classList.remove('active'));
            e.target.classList.add('active');
          }
        });
      });
        

    
        const buttonDelete = document.querySelectorAll(".button-delete")
        const deleteModal = document.getElementById("deleteModal")
        const confirmDelete = document.getElementById("confirmDelete")
        const cancelDelete = document.getElementById("cancelDelete")
        console.log(buttonDelete  )
        buttonDelete.forEach(item => {
            item.addEventListener("click", function(e){
                e.preventDefault()
                const url = new URL(window.location.href)
                console.log(url.pathname);
                const buttonDeleteValue = item.getAttribute("button-delete");
                console.log(buttonDeleteValue)
                deleteModal.style.display = 'block'
                const check = confirm("Bạn có muốn hủy lịch hẹn này không?")
                if(check){
                    window.location.href = buttonDeleteValue
                }   
            })
        })

