extends ../../layouts/default.pug
include ../../mixins/mixin-title.pug
include ../../mixins/alert.pug

block main
    +alert-success("5000")
    +alert-error('5000')
    +title("Thanh Toán")
    .block-sider(style="width:90%;margin-left:100px;")
        .card.shadow(style="width:80%;margin: 0 auto;")
            .card-body(style="background-color: #d0f2f7ba;border:2px solid #4294b1c7")
            //- h2.card-title.text-center.mb-4.mt-4 Vui lòng nhập khoảng cách di chuyển 
            //- .row(style="margin: 0 auto")
            //-     .col-auto
            //-             //- input.form-control(type="number" id="distance" style="width: 200px; display: inline-block;" min="1" value="1")
            //-             //- button(id="auto-distance" class="btn btn-primary" style="display: inline-block;") 
            //-             //-     i.fa.fa-calculator(style="margin-right: 5px;")  
                            
            //-             .d-flex.align-items-start(style="border: 2px solid black; position: relative; ")
            //-                 input.form-control(type="number" id="distance" style="width: 200px; display: inline-block; border-radius:0   ;  height: 39px;" min="1" value="1")
            //-                 button(id="auto-distance"  style="display: inline-block; height: 39px;     width: 50px;    background-color: #e92c46d9; cursor: pointer") 
            //-                     i.fa.fa-calculator(style="margin-right: 5px;")  
            //-                 b(style="    position: absolute;    left: 53%;top: 10%; font-size: 22px;") km
                                    
            //-     .col-auto
            //-         button(name=cal-distance id="cal-distance" class="btn btn-primary" style="display: inline-block;") Cập nhật
            h2.card-title.text-center.mb-4.mt-4 Xác nhận thanh toán
            form#formTotal(action=`/staff/appointment/paymentCenter/${appointmentID}`, method="POST")(style="padding: 20px;")
                input(type="hidden" name="objectPayment" value =objectPayment)
                .form-group.mb-4
                    h3.form-label Chi tiết thanh toán:
                    ul.list-group.shadow-sm.ul-payment
                        each detail in objectPayment.serviceDetailsFormat
                            li.list-group-item.d-flex.justify-content-between.align-items-center.bg-light
                                b.text-muted.h5.mb-0 #{detail.description}
                                h3#serviceFee.badge.badge-primary.badge-pill(style="font-size: 18px;") #{detail.amount} VNĐ
                        li.list-group-item.d-flex.justify-content-between.align-items-center.bg-light.liToltalFee
                            b.font-weight-bold.h4.mb-0 Tổng cộng:
                            h3#totalFee.badge.badge-success.badge-pill.h5.mb-0(style="font-size: 18px;")  #{objectPayment.totalServiceFeeFormat} VNĐ
                    //-     input#totalFee(type="hidden", name="totalFee" value=objectPayment.totalFee)
                .form-group.mb-4
                    h2.form-label.d-block.text-center.mb-4 Hình thức thanh toán:
                    .btn-group.btn-group-toggle.w-100(data-toggle="buttons")
                        label.btn.btn-outline-primary.w-50
                            input#cashPayment(type="radio", name="paymentMethod", value="cash", required)
                            i.fas.fa-money-bill-wave.mr-2
                            | Tiền mặt
                        label.btn.btn-outline-primary.w-50
                            input#transferPayment(type="radio", name="paymentMethod", value="transfer", required)
                            i.fas.fa-exchange-alt.mr-2
                            | Chuyển khoản

                .text-center.mt-4
                    button.btn.btn-primary.btn-lg.px-5(type="submit" id="submitAll")
                        i.fas.fa-check.mr-2
                        | Hoàn tất đơn



                
