extends ../../layouts/default.pug
include ../../mixins/chatAi.pug

block main      
    //- pre 
    //-     | #{JSON.stringify(listDoctor)}
    div.background_appointment
        .box_appointment
            h3.pb-3(style="color: #272D3C; font-weight: bold; font-size: 2.25rem; text-align: center; text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); letter-spacing: 1px;") Đặt Lịch Hẹn
            form(action="/koi/appointment" method="post").form_appointment
                // Left Section
                div.left-section(style="width: 500px")
                    
                    label(for="name") Họ và Tên
                    input#name(type="text" name="FullName" placeholder="Nhập họ và tên" value=userInfo.FullName)
                    label(for="phone") Số Điện Thoại
                    input#phone(type="tel" name="PhoneNumber" placeholder="Nhập số điện thoại" pattern="[0-9]*" inputmode="numeric" required value=userInfo.PhoneNumber)
                    label(for="address" id = "label-address" style="display: none") Địa chỉ
                    input#address(type="text" name="address" placeholder="Nhập địa chỉ" style="display: none" required value=userInfo.Address)
                    label(for="service") Chọn dịch vụ
                    div
                        select#service(name="service" class="service_appointment" requir    ed)
                            option(value selected disabled) Chọn Dịch Vụ
                            each  service in listService
                                option(value=service.Name) • #{service.Name}
                    label(for="location" id="label-location") Chọn nơi khám
                    select(id="location" name="location" required)
                        option( selected disabled) Chọn Nơi Khám
                        option(value="nha") • Tại nhà
                        option(value="center") • Tại trung tâm
                    //- label(for="address" id = "label-address" style="display: none") Địa chỉ
                    //- input#address(type="text" name="address" placeholder="Nhập địa chỉ" style="display: none" required value=userInfo.Address)
                    label(for="select_doctor" ) Chọn Bác Sĩ
                    select(id="select_doctor" name="doctor" required)
                        option(value selected, disabled) Chọn Bác Sĩ
                     
                    
                    label(for="select_date") Chọn Ngày 
                    br
                    input(type="date" name="select_date" id="select_date" required)
                    br
                   
                    div(id="timeSlotsContainer")
                    input(type="hidden" name="shift" id="selectedTimeSlot" value="" required)
                    div(id="notification") 
                    div.textarea-description
                        label(for="phone") Mô tả tình trạng cá
                        textarea(name="Description" id="description-koi-health" style="width: 100%; height: 100px; border: 1px solid #ccc; border-radius: 20px; background-color: #6fb3bf4a;")
                // Right Section
                .right-section
                    .doctor-info
                    .priceService#priceService(style="visibility: hidden; height: 120px; background-color: rgb(94 179 211 / 44%); border-radius: 20px; padding: 15px 30px 30px; text-align: center; width: 400px; margin: 60px 0px 100px 138px; border: 2px solid #413d3dbf; box-shadow: 0px 0px 17px 2px #00000080;")
            .button-appointment.mt-4(style="display: flex; justify-content: center;")
                button.confirm-btn.payment-btn(type="submit" style="background: linear-gradient(214deg, #cf3636, #cf2b31cf); box-shadow: 0px 0px 0 0") 
                    span Đặt lịch hẹn
            .confirm-appointment 
                h2.text-center.mb-4 Xác Nhận Đặt Lịch 
                p Trước khi xác nhận lịch hẹn, vui lòng kiểm tra: 
                p <i class="fa-solid fa-check" style="color: #0c83df;"></i>  Thời gian và ngày hẹn 
                p <i class="fa-solid fa-check" style="color: #0c83df;"></i> Thông tin liên hệ của bạn
                p <i class="fa-solid fa-check" style="color: #0c83df;"></i>  Địa chỉ khám (nếu có)
                p <i class="fa-solid fa-check" style="color: #0c83df;"></i> Dịch vụ cần khám 
                button(id="confirm-success-appointment"  ) Xác nhận 
                button(id="confirm-cancle-appointment") Hủy
            .paid-appointment 
                div.content-paid-appointment 
                div.waiting-paid-appointment
                    p Đang chờ thanh toán 
                    <span id="countdown">10:00</span>
                    .progress-bar   
                        #progress.progress
            #successModal.modal-appointment
                .modal-appointment-content
                    .icon-container
                    .tick 
                        i(class="fas fa-check-circle")  
                    h2 Thanh Toán Thành Công!
                     
                    
                    p(id="countdownText") Tiếp tục sau 5s              
        div#confirmationModal
            div.confirmationModal
                h3 Thông báo
                p#modalMessage
                button#closeModalMessage(type="button") Đóng

        #modalDistance.modal-distance(style="display: none;")
            .modal-distance-content
                .modal-icon
                    i.fas.fa-map-marker-alt
                h2 Xin lỗi quý khách
                p Chúng tôi rất tiếc phải thông báo rằng địa chỉ của quý khách nằm ngoài phạm vi phục vụ của chúng tôi.
                p Khoảng cách quá xa khiến chúng tôi không thể đảm bảo chất lượng dịch vụ tốt nhất cho quý khách.
                p Chúng tôi chân thành xin lỗi vì sự bất tiện này và hy vọng sẽ có cơ hội phục vụ quý khách trong tương lai.
                .text-center
                    button.modal-distance-button(type="button" id="closeModalDistance") Đóng
        

        button#openModalDistance(type="button") Mở Modal
        +chatAi()
                    
                            

        script.
            var listService = !{JSON.stringify(listService)};
            var doctorSchedules = !{JSON.stringify(doctorSchedules)};
            var listAccount = !{JSON.stringify(listAccount)};
            var listDoctor = !{JSON.stringify(listDoctor)};
            const settingGeneral = !{JSON.stringify(SettingGeneral)};


