extends ../../layouts/default.pug

block main
    div(class="title_appointment") Đặt Lịch Hẹn
    div.background_appointment
        div(class="box_appointment")
            form.form_appointment
                // Left Section
                div.left-section(style="width: 500px")
                     
                    label(for="name") Họ và Tên
                    input#name(type="text" placeholder="Nhập họ và tên")
                    label(for="phone") Số Điện Thoại
                    input#phone(type="tel" placeholder="Nhập số điện thoại")
                    label(for="address") Địa chỉ
                    input#address(type="text" placeholder="Nhập địa chỉ")
                    label(for="service") Chọn dịch vụ
                    div
                        select#service(name="service" class="service_appointment")
                            option(value selected disabled) Chọn Dịch Vụ
                            each  service in listService
                                option(value=service.Name) • #{service.Name}
                    label(for="location") Chọn nơi khám
                    select(id="location")
                        option( selected) Chọn Nơi Khám
                        option(value="nha") • Tại nhà
                        option(value="center") • Tại trung tâm
                    label(for="select_doctor") Chọn Bác Sĩ
                    select(id="select_doctor")
                        option(value selected, disabled) Chọn Bác Sĩ
                     
                    
                    label(for="select_date") Chọn Ngày 
                    br
                    input(type="date" name="select_date" id="select_date")
                    br
                   
                    div(id="timeSlotsContainer")
                    input(type="hidden" name="shift" id="selectedTimeSlot" value="")
                    div(id="notification") 
                // Right Section
                .right-section
                    .doctor-info
                    div.textarea-description
                        label(for="phone") Mô tả tình trạng cá
                        textarea(name="" style="width: 100%; height: 100px; border: 1px solid #ccc; border-radius: 20px; background-color: #cec1c14a;") 
            button.confirm-btn(type="submit") Xác Nhận

    script.
        var listService = !{JSON.stringify(listService)};
        var doctorSchedules = !{JSON.stringify(doctorSchedules)};
        var listAccount = !{JSON.stringify(listAccount)};
        var listDoctor = !{JSON.stringify(listDoctor)};
