extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error("5000")
    +alert-success("5000")

    //-OTP của Nhớ
    //- .container-fluid
    //-     .row(style="height: 100vh;")
    //-     .col-7.left-column
    //-         img.login-img(src="/images/Login.webp" alt="Hình nền xác thực OTP")
    //-     .col-5.right-column.d-flex.align-items-center.justify-content-center.bg-white
    //-         .otp-verification-page.text-center
    //-         .form-otp-verification
    //-             h2.otp-verification-title Xác thực OTP
    //-             p.otp-verification-subtitle Vui lòng nhập mã OTP đã được gửi đến email của bạn.
    //-             form.otp-verification-form(action='/auth/password/otp', method='POST')
    //-             .form-group.mb-3
    //-                 input#otp.form-control(type='text', name='otp', placeholder='Nhập mã OTP', required)
    //-             .form-buttons.d-flex.justify-content-center
    //-                 button.btn.btn-secondary.me-2(style = "margin-left: 10px; border-radius: 23px;"  type='button') Gửi lại mã
    //-                 button.btn.btn-primary.btn-pink(style = "margin-left: 20px; border-radius: 23px;" type='submit') Xác nhận
    //-             p.form-resend-link.mt-3
    //-                 | Không nhận được mã? 
    //-                 a.form-resend-link.link(href='#') Gửi lại
                    
    //- .container.my-5
    //-     .row.justify-content-center
    //-         .col-8 
    //-             h1(class="text-center") Xác thực OTP
    //-             form(
    //-                 action="/auth/password/otp"
    //-                 method="post"
    //-             ) 
    //-                 div(class="form-group")
    //-                     label(for="email") Email
    //-                     input(
    //-                         type="email"
    //-                         class="form-control"
    //-                         id="email"
    //-                         name="email"
    //-                         value=email
    //-                         readonly
    //-                     )
    //-                 div(class="form-group")
    //-                     label(for="otp") Mã OTP
    //-                     input(
    //-                         type="text"
    //-                         class="form-control"
    //-                         id="otp"
    //-                         name="otp"
    //-                         required
    //-                     )
    //-                 div(class="form-group")     
    //-                     button(
    //-                         type="submit"
    //-                         class="form-control btn btn-primary btn-block"
    //-                     ) Xác nhận OTP


    .block-footer(style="height: 85vh")
        .container-fluid 
            .row(style="height: 100vh;")
                .col-7.left-column(style="padding: 0") 
                    img.login-img(src="/images/Login.png" alt="Login image")
                .col-5.right-column(style="padding: 150px 0 0 50px;")
                    .right-container 
                        .card.shadow-sm(style="border-radius: 40px; margin-right: 100px;")
                            .card-header(style="background: linear-gradient(to right, #2e87b2, #86d1e7e3); border-top-left-radius: 30px; border-top-right-radius: 30px;")
                                h2.card-title.text-center.mb-4(style="background: linear-gradient(#121313, #5c5f60e3); color: transparent; -webkit-background-clip: text; font-size: 40px;") Xác thực OTP
                            .card-body(style="padding: 2rem;")
                                form(
                                action="/auth/password/otp"
                                    method="post"
                                ) 
                                    div(class="form-group")
                                        label(for="email") Email
                                        input(
                                            type="email"
                                            class="form-control"
                                            id="email"
                                            name="email"
                                            value=email
                                            readonly
                                        )
                                    div(class="form-group")
                                        label(for="otp") Mã OTP
                                        input(
                                            type="text"
                                            class="form-control"
                                            id="otp"
                                            name="otp"
                                            required
                                        )
                                    div(class="form-group")     
                                        button(
                                            type="submit"
                                            class="form-control btn btn-primary btn-block"
                                        ) Xác nhận OTP
