extends ../../layouts/default.pug
include ../../mixins/alert.pug


block main
    +alert-error("5000")
    +alert-success("5000")


    .block-footer(style="height: 100%")
        .container-fluid 
            .row(style="height: 100vh; font-size: 1.25rem")
                .col-7.left-column(style="padding: 0")  
                    img.login-img(src="/images/Login.png" alt="Login image")
                .col-5.right-column(style="padding: 150px 0 0 50px;")
                    .right-container 
                        .card.shadow-sm(style="border-radius: 10px; margin-right: 100px;")
                            .card-header(style="background: linear-gradient(to right, #2e87b2, #86d1e7e3); border-top-left-radius: 10px; border-top-right-radius: 10px;")
                                h2.card-title.text-center(style="background: linear-gradient(#121313, #5c5f60e3); color: transparent; -webkit-background-clip: text; font-size: 40px;") Đặt lại mật khẩu
                            .card-body(style="padding: 2rem 2rem 1rem 2rem;")
                               form(
                                        action="/auth/password/reset-password"
                                        method="post"
                                    ) 
                                    .form-group
                                        label(for="password") Mật khẩu mới
                                        .input-wrapper
                                            i.fas.fa-lock.input-icon
                                            input.form-control#password(
                                                type="password"
                                                name="password"
                                                required
                                            )
                                    .form-group
                                        label(for="confirmPassword") Xác nhận mật khẩu
                                        .input-wrapper
                                            i.fas.fa-lock.input-icon
                                            input.form-control#confirmPassword(
                                                type="password"
                                                name="confirmPassword"
                                                required
                                            )
                                    .form-group.pt-3     
                                        button(
                                            type="submit"
                                            class="form-control btn btn-primary btn-block"
                                            style="padding:0.5rem"
                                        ) Đặt lại mật khẩu
    
