extends ../../layouts/default.pug
include ../../mixins/chatAi.pug
block main
    head
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap", rel="stylesheet")
    .block-footer(style="height: 210vh; background-image: url('/images/background.png');")
        img(src="/images/banner-service.jpg", alt="Contact 1" style="height: 550px; object-fit: cover; width: 100%; filter: grayscale(0.7);")
        h1(style="position: absolute; top: 47%; left: 5%; transform: translateY(-80%); text-align: left; font-weight: Bold; font-size: 3.5rem;  color: white; font-family: 'Oswald', sans-serif;") Các dịch vụ tại #{SettingGeneral.WebsiteName}
        .btn-home(style="position: absolute; bottom: 450px; left: 6%; transform: translateY(50%); display: flex; justify-content: center;")
            a.community-title(href='/koi' style="font-size: 1.5rem; color: white; border-radius: 5px; ") Trang chủ
            p.community-title(style="font-size: 1.5rem; border-radius: 5px; padding-left:10px; color: #b9daf8;") / Các dịch vụ tại Koi Healthy
        .container-fluid
            .row(style="padding: 40px;")  
                each service in services
                    .col-md-4
                        .card.contact-card
                            .card-body-contact
                                img(src=service.Thumbnail, alt="Contact 1" style="height: 200px; object-fit: cover; width: 100%; border-radius: 20px; min-height:5rem;")
                                if(service.Name === "Cải Thiện Môi Trường")
                                    h3.card-contact-title Tư vấn #{service.Name} của hồ cá
                                else
                                    h3.card-contact-title Tư vấn #{service.Name} của cá Koi
                                p.card-contact-content #{service.Description}
                                if(service.Name === "Tư Vấn Online")
                                    h5.card-contact-price Giá : #{service.Price} VNĐ phí dịch vụ 
                                else if(service.Name === "Cải Thiện Môi Trường")
                                    h5.card-contact-price Giá : #{service.Price} VNĐ phí dịch vụ + #{service.AddMore} VNĐ/Hồ 
                                else if(service.Name === "Khám Sức Khỏe")
                                    h5.card-contact-price Giá : #{service.Price} VNĐ phí dịch vụ + #{service.AddMore} VNĐ/Cá 
                                button(class="btn btn-appointment payment-btn" onclick="window.location.href='/koi/appointment'" style="background: linear-gradient(214deg, #cf3636, #cf2b31cf);border-radius: 30px;" ) Đặt lịch hẹn
                //- .col-md-4
                //-     .card.contact-card
                //-         .card-body-contact
                //-             img(src="/images/contact2.jpg", alt="Contact 2" style="height: 200px; object-fit: cover; width: 100%; border-radius: 20px;")
                //-             h3.card-contact-title Cải thiện môi trường hồ cá
                //-             p.card-contact-content Chúng tôi cung cấp dịch vụ tư vấn trực tiếp về cải thiện môi trường sống cho tất cả các chủ nuôi cá cảnh.
                //-             h5.card-contact-price Giá : 1.000.000 VNĐ phí dịch vụ + 200.000 VNĐ/Hồ 
                //-             button(class="btn btn-appointment payment-btn" onclick="window.location.href='/koi/appointment'" style="background: linear-gradient(214deg, #cf3636, #cf2b31cf);border-radius: 30px;" ) Đặt lịch hẹn  
                //- .col-md-4
                //-     .card.contact-card
                //-         .card-body-contact
                //-             img(src="/images/contact3.jpg", alt="Contact 3" style="height: 200px; object-fit: cover; width: 100%; border-radius: 20px;")
                //-             h3.card-contact-title Khám sức khỏe cho cá Koi
                //-             p.card-contact-content Chúng tôi cung cấp dịch vụ khám ngoại cho cá nhằm đảm bảo sức khỏe tối ưu cho vật nuôi của bạn.
                //-             h5.card-contact-price Giá : 1.500.000 VNĐ phí dịch vụ + 200.000 VNĐ/Cá 
                //-             button(class="btn btn-appointment payment-btn" onclick="window.location.href='/koi/appointment'" style="background: linear-gradient(214deg, #cf3636, #cf2b31cf);border-radius: 30px;" ) Đặt lịch hẹn
        .container-fluid(style="padding: 40px;")
                h2(style="text-align: center; font-family: 'Oswald', sans-serif; font-size: 2.5rem; margin-bottom: 50px;") Hướng dẫn dùng dịch vụ của chúng tôi
                .row
                    .col-md-3.card-intro
                        h3 01
                        img(src="/images/icon-service2.png", alt="Step 1" style="width: 100%; height: 200px;")
                        h3 Cung cấp thông tin về cá cho chúng tôi
                        p Bạn chỉ cần viết mô tả các triệu chứng mà cá koi mắc phải và chúng tôi sẽ xem xét rồi đưa ra cách giải quyết phù hợp nhất
                    .col-md-3.card-intro
                        h3 02
                        img(src="/images/icon-service3.png", alt="Step 2" style="width: 100%; height: 200px;")
                        h3 Chọn dịch vụ mà bạn muốn sử dụng
                        p Chọn 1 trong 3 loại dịch vụ mà bạn thấy phù hợp với mô tả triệu chứng của cá 
                    .col-md-3.card-intro
                        h3 03
                        img(src="/images/icon-service3.png", alt="Step 3" style="width: 100%; height: 200px;")
                        h3 Chọn bác sĩ và khung giờ mà bạn muốn
                        p Chọn bác sĩ và khung giờ khám bệnh - TẠI NHÀ hoặc TẠI TRUNG TÂM
                    .col-md-3.card-intro
                        h3 04
                        img(src="/images/icon-service4.png", alt="Step 4" style="width: 100%; height: 200px;")
                        h3 Thanh toán
                        p Hoàn tất thanh toán bằng VNPAY với dịch vụ tư vấn online, và thanh toán bằng tiền mặt tại trung tâm hoặc tại nhà
    +chatAi()