extends ../../layouts/default.pug
include ../../mixins/chatAi.pug
include ../../mixins/back-to-top.pug

block main

         
        //- img.img-banner(src="https://files.oaiusercontent.com/file-97ewqLfwV55B2xgkMar2ri0i?se=2024-10-03T16%3A31%3A00Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D9083723b-b88a-48f3-8740-aa976b7d7245.webp&sig=0YkzDZYxeYz4jea06G0sOyLvjEkaLwtwnKHjV0mi9jA%3D" alt="Banner Image")
        //- img.img-banner(src="/images/KoiBanner.jpg" alt="Banner Image")
        .banner(style=`background-image: url('${SettingGeneral.BannerHome}')`)

        
        //- section.intro
        //- .marquee-container
        //-     .fish-background
        //-     .marquee
        //-         p Chào Mừng Bạn Đến Với HealthyKoi

            //- h3.intro-title.text-center Chào Mừng Bạn Đến Với HealthyKoi
            //- p.intro-content Chúng tôi tự hào cung cấp dịch vụ chăm sóc sức khỏe toàn diện cho cá Koi, từ đánh giá ao nuôi, khám chữa bệnh đến tư vấn trực tuyến. Với đội ngũ bác sĩ thú y giàu kinh nghiệm và sự tận tâm, chúng tôi cam kết mang đến môi trường sống lý tưởng và sự chăm sóc tốt nhất cho những chú cá Koi của bạn.   
        section.profession.pt-4.pb-4(style="background-color: #e7e7e7")
            h3.intro-title.text-center.mb-5 Sự Chăm Sóc Tốt Nhất Dành Cho Những Chú Cá Koi Của Bạn
            .row
                .col-md-4   
                    .card.profession-card
                        img.profession-card-img(src="/images/doctor.avif" alt="Dịch vụ 1" style="height: 350px; object-fit: inherit; width: 100%; border-bottom: 5px solid #888181b3")
                        h3.text-center.card-title Những chuyên gia bạn có thể trông cậy
                .col-md-4   
                    .card.profession-card
                        img.profession-card-img(src="/images/bangCap.webp" alt="Dịch vụ 1" style="height: 350px; object-fit: inherit; width: 100%; border-bottom: 5px solid #888181b3")
                        h3.text-center.card-title Các bác sĩ được đào tạo và có bằng cấp chuyên môn
                .col-md-4   
                    .card.profession-card
                        img.profession-card-img(src="/images/helpCustomer.jpg" alt="Dịch vụ 1" style="height: 350px; object-fit: inherit; width: 100%; border-bottom: 5px solid #888181b3"  )
                        h3.text-center.card-title Đội ngũ chăm sóc khách hàng 24/7
        //- hr.seperate-line 
        section.service
            h3.intro-title.text-center Các Dịch Vụ Của Chúng Tôi
            .row(style="justify-content: space-around;")
                .col-md-4
                    .service-title
                    h3.text-center.font-weight-bold(style="height: 75px;") Khám Bệnh
                    .service-content
                    .image-container
                        img.mb-4(src=SettingGeneral.ImageServiceHealthy  alt="Dịch vụ 1" style="width: 100%; height:100%; object-fit: cover; border-radius: 20px;")
                        .overlay
                            p.mx-3 Chúng tôi cung cấp dịch vụ khám bệnh chuyên sâu dành cho cá Koi, giúp phát hiện sớm các vấn đề về sức khỏe và đảm bảo cá Koi của bạn luôn trong tình trạng tốt nhất. Đội ngũ bác sĩ giàu kinh nghiệm sẽ kiểm tra tổng quát, phát hiện bệnh lý và đề xuất các phương pháp điều trị hiệu quả nhất.  
                            button.cta(onclick="window.location.href='/koi/checkUp'")
                                span Tìm hiểu thêm
                                svg(width="15px", height="10px", viewBox="0 0 13 10")
                                    path(d="M1,5 L11,5")
                                    polyline(points="8 1 12 5 8 9")
                .col-md-4
                    .service-title
                    h3.text-center.font-weight-bold(style="height: 75px;") Tư Vấn Cải Thiện Môi Trường Hồ 
                    .service-content
                    .image-container
                        img.mb-4(src=SettingGeneral.ImageServicePond alt="Dịch vụ 2" style="width: 100%; height:100%; object-fit: cover; border-radius: 20px;")
                        .overlay
                            p.mx-3 Trường sống lý tưởng là yếu tố quan trọng đối với sức khỏe của cá Koi. Chúng tôi cung cấp dịch vụ tư vấn để đánh giá và cải thiện chất lượng nước, thiết kế hồ nuôi phù hợp và điều chỉnh các yếu tố môi trường để cá Koi của bạn phát triển khoẻ mạnh.         
                            button.cta(onclick="window.location.href='/koi/envConsult'")
                                span Tìm hiểu thêm
                                svg(width="15px", height="10px", viewBox="0 0 13 10")
                                    path(d="M1,5 L11,5")
                                    polyline(points="8 1 12 5 8 9")
                .col-md-4
                    .service-title
                    h3.text-center.font-weight-bold(style="height: 75px;") Tư Vấn Trực Tuyến
                    .service-content
                    .image-container
                        img.mb-4(src=SettingGeneral.ImageServiceOnline  alt="Dịch vụ 3" style="width: 100%; height:100%; object-fit: cover; border-radius: 20px;") 
                        .overlay
                            p.mx-3 Dịch vụ tư vấn trực tuyến của chúng tôi mang đến sự tiện lợi cho bạn, giúp bạn nhận được sự hỗ trợ từ các bác sĩ thú y mọi lúc mọi nơi. Chỉ cần đặt lịch hẹn, bạn sẽ nhận được lời khuyên chuyên môn và các giải pháp nhanh chóng cho những vấn đề liên quan đến sức khỏe của cá Koi.
                            button.cta(onclick="window.location.href='/koi/onlConsult'")
                                span Tìm hiểu thêm
                                svg(width="15px", height="10px", viewBox="0 0 13 10")
                                    path(d="M1,5 L11,5")
                                    polyline(points="8 1 12 5 8 9") 
        section.review.pt-4.pb-4(style=" background-image: linear-gradient(38.73deg, rgb(5 69 95 / 51%) 0%, rgba(201, 32, 184, 0) 50%), linear-gradient(353deg, rgb(8 31 78 / 23%) 50%, rgb(33 176 239 / 35%) 100%);")
            .reviews-container
                h3.intro-title.text-center.mb-5 Đánh Giá Của Khách Hàng
                .review-carousel
                    .review-slide
                        - for (let i = 0; i < listFeedBack.length; i += 3)
                            if(listFeedBack.slice(i, i + 3).length === 3)
                                .review-group
                                    each feedback,index in listFeedBack.slice(i, i + 3)
                                        div.review-card(style=index % 2 === 0 ? "height: 250px;    margin-top: 130px;" : "height: 280px ;margin: 20px;  ")
                                            h3 #{feedback.FullName}
                                            div.stars ★ ★ ★ ★ ★
                                            p #{feedback.Content}
        
        +chatAi()

        //- #ai-chat-button.ai-chat-button
        //-     i.fas.fa-comment
        //-     span Chat

        //- #ai-chatbox.ai-chatbox
        //-     .ai-chatbox-header
        //-         h3 Chat 
        //-         button#close-chat.close-chat &times;
        //-     .ai-chatbox-messages
        //-     .ai-chatbox-input
        //-         input(type="text" placeholder="Nhập câu hỏi của bạn...")
        //-         button#send-message
        //-             i.fas.fa-paper-plane

