extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success("5000")
    +alert-error('5000')
    div.sortSchedule
        form(action="/staff/schedules" method="get" class="form-inline my-3 form-choose-week")
            .form-group
                label(for="weekOffset" class="mr-2") Chọn tuần:
                select(name="weekOffset" id="weekOffset" class="form-control form-control-sm" onchange="this.form.submit()" style="font-weight: bold;")
                    each week in weeks
                        option(value=week.value selected=week.value == weekOffset) #{week.label}

        .table-container
            table.table.table-bordered.table-hover.table-condensed.text-center.table-sm.mt-3
                thead
                    tr
                        th(style="width:110px") Slot
                        each day in days
                            th.text-center #{day.name}
                    tr
                        th
                        each day in days
                            th.text-center #{day.date}
                tbody
                    each slot in slots
                        tr
                            td.text-center #{slot}
                            each day in days
                                td.text-center
                                    .doctor-container.row
                                        each schedule in schedules
                                                each shift in schedule.shifts
                                                    if shift.Shift === slot && new Date(schedule.Time).toDateString() === new Date(day.date).toDateString()
                                                        .doctor-info.col
                                                            if shift.AppointmentID == null
                                                                img(src=`${schedule.account.Avatar}` alt=`${schedule.account.FullName}` style="width: 80px; height: 80px; object-fit: cover" class="img-thumbnail doctor-avatar img-sm")
                                                            else 
                                                                img(src=`${schedule.account.Avatar}` alt=`${schedule.account.FullName}` style="width: 80px; height: 80px; object-fit: cover ; border: 3px solid red;box-shadow: 1px 1px 4px 9px #e26868;    margin-bottom: 10px; " class="img-thumbnail doctor-avatar img-sm")
                                                            .doctor-details
                                                                p.mb-0 #{schedule.account.FullName}
                                                                p.text-muted.mb-0 #{schedule.account.Specialization}
        .mt-4
            form(action='/staff/schedules/add' method='POST' class='form-horizontal')
                .form-group.row
                    label(for='vetID' class='col-sm-2 col-form-label'  ) Chọn Chuyên Ngành:
                    .col-sm-10
                        select(name  required class='form-control ' Select-Specialization)
                            option(value="" selected disabled ) --- Chọn Chuyên Ngành --- 
                            each service in listServices
                                option(value=service.Name) Chuyên ngành #{service.Name}
                .form-group.row
                    label(for='vetID' class='col-sm-2 col-form-label') Chọn bác sĩ:
                    .col-sm-10
                        select(name='vetID' required class='form-control ' Select-Doctor)
                            option(value="" selected disabled) ---Chọn Bác Sĩ---- 
                            //- each doctor in listDoctor
                            //-     option(value=doctor.VetID) Bác Sĩ #{doctor.FullName}

                .form-group.row
                    label(for='date' class='col-sm-2 col-form-label') Ngày làm việc:
                    .col-sm-10
                        input(type='date' name='date' required class='form-control ')
                .form-group.row
                    label(class='col-sm-2 col-form-label') Chọn ca làm việc:
                    .col-sm-4.select-shift
                        .form-check
                            .form-check-inline
                                input(type='checkbox' name='shifts' id='shift-7-9' value='7h-9h' class='form-check-input')
                                label(for='shift-7-9' class='form-check-label') 7h-9h
                        .form-check
                            .form-check-inline
                                input(type='checkbox' name='shifts' id='shift-9-11' value='9h-11h' class='form-check-input')
                                label(for='shift-9-11' class='form-check-label') 9h-11h
                        .form-check
                            .form-check-inline
                                input(type='checkbox' name='shifts' id='shift-13-15' value='13h-15h' class='form-check-input')
                                label(for='shift-13-15' class='form-check-label') 13h-15h
                        .form-check
                            .form-check-inline
                                input(type='checkbox' name='shifts' id='shift-15-17' value='15h-17h' class='form-check-input')
                                label(for='shift-15-17' class='form-check-label') 15h-17h
                button(type='submit' class='button-add-shift') Thêm lịch

                    script.
                        var listDoctor = !{JSON.stringify(listDoctor)};
                        var listServices = !{JSON.stringify(listServices)};;
