extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error('Không tìm thấy thông tin người dùng.')

        h1.text-center.mb-4.page-title Thông tin cá nhân
        .main-body.personal-info-container
            .row.gutters-sm
                .col-md-4.mb-3
                    .card.mb-3(style="height: 100%;")
                        .card-body
                            .d-flex.flex-column.align-items-center.text-center.h-100.justify-content-center
                                if (user.Avatar)
                                    img.rounded.circle(src=user.Avatar width='200' height='200' alt='User Avatar' style='object-fit: cover; margin-bottom: 2rem;')
                                else
                                    img.rounded.circle(src="https://via.placeholder.com/200" width='200' height='200' alt='User Avatar' style='object-fit: cover; margin-bottom: 2rem;')
                                .mt-3
                                    h3.mb-3 #{user.FullName || 'Chưa cập nhật'}
                                    p.text-secondary.mb-2.font-weight-bold #{role.RoleName || 'Chưa cập nhật'}
                                    

                .col-md-8
                    .card.mb-3
                        .card-body
                            .row
                                .col-sm-3
                                    h6.mb-0 Họ tên
                                .col-sm-9.text-secondary
                                    | #{user.FullName || 'Chưa cập nhật'}
                            hr
                            .row
                                .col-sm-3
                                    h6.mb-0 Email
                                .col-sm-9.text-secondary
                                    | #{user.Email || 'Chưa cập nhật'}
                            hr
                            .row
                                .col-sm-3
                                    h6.mb-0 Số điện thoại
                                .col-sm-9.text-secondary
                                    | #{user.PhoneNumber || 'Chưa cập nhật'}
                            hr
                            .row
                                .col-sm-3
                                    h6.mb-0 Địa chỉ
                                .col-sm-9.text-secondary
                                    | #{user.Address || 'Chưa cập nhật'}
                            hr
                            .row
                                .col-sm-3
                                    h6.mb-0 Giới tính
                                .col-sm-9.text-secondary
                                    | #{user.Gender || 'Chưa cập nhật'}
                            hr
                            .row
                                .col-sm-3
                                    h6.mb-0 Link Google Meet
                                .col-sm-9.text-secondary
                                    | #{user.GoogleMeet || 'Chưa cập nhật'}
                            hr
                            .row
                                .col-sm-3
                                    h6.mb-0 Thành tựu
                                .col-sm-9.text-secondary
                                    | #{user.Description || 'Chưa cập nhật'}
                            hr
                            .row
                                .col-sm-3
                                    h6.mb-0 Ngày sinh
                                .col-sm-9.text-secondary
                                    | #{user.Birthday || 'Chưa cập nhật'}
                            hr
                            .row
                                .col-sm-12
                                    button.Btn(onclick="window.location.href='/doctor/my-account/edit'") Chỉnh sửa
                                        svg.svg(viewBox="0 0 512 512")
                                            path(d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z")

   
    style.
        .card {
            border: none;
            box-shadow: 0 12px 24px rgba(0,0,0,0.3), 0 16px 48px rgba(0,0,0,0.25);
            background-color: rgba(255, 255, 255, 0.6);
        }
        .card-body {
            padding: 2.5rem;
        }
        .rounded-circle {
            border: 6px solid #f0f0f0;
            box-shadow: 0 6px 12px rgba(0,0,0,0.15);
        }
        .btn-lg {
            padding: 0.85rem 1.7rem;
            font-size: 1.2rem;
            font-weight: bold;
        }
        .page-title {
            text-shadow: 3px 3px 6px rgba(0,0,0,0.2);
            padding: 20px;
            background-color: rgba(240, 240, 240, 0.6);
            border-radius: 15px;
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            font-weight: bold;
            color: #333;
            border: 2px solid #ddd;
        }
        .text-secondary {
            font-weight: 600;
        }
        .personal-info-container {
            border-radius: 20px;
            padding: 30px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
            background-color: rgba(248, 249, 250, 0.6);
        }
        .Btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 130px;
            height: 40px;
            border: none;
            padding: 0px 20px;
            background-color: black;
            color: white;
            font-weight: 600;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: 5px 5px 0px black;
            transition-duration: 0.3s;
        }

        .svg {
            width: 13px;
            position: absolute;
            right: 0;
            margin-right: 20px;
            fill: white;
            transition-duration: 0.3s;
        }

        .Btn:hover {
            color: transparent;
        }

        .Btn:hover svg {
            right: 43%;
            margin: 0;
            padding: 0;
            border: none;
            transition-duration: 0.3s;
        }

        .Btn:active {
            transform: translate(3px, 3px);
            transition-duration: 0.3s;
            box-shadow: 2px 2px 0px white;
        }
