extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/mixin-title.pug

block main
    +alert-success("5000")
    +alert-error('5000')
    style.
        .bg-gradient-primary {
            background: linear-gradient(45deg, #4e73df, #224abe);
        }
        .bg-gradient-danger {
            background: linear-gradient(45deg, #e74a3b, #be2617);
        }
    .mixin-title
            h1.mb-0
                i.fas.fa-globe.mr-3
                | Thông tin website
    .block-sider(style="margin-left:180px; margin-right:50px;margin-bottom: 100px;")
        
        .card.shadow-sm(style="border-radius: 20px; border: none; overflow: hidden; box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;transform: translateY(-5px);    transition: all 0.3s ease;")
            
            .card-header.bg-gradient-primary.text-white.d-flex.justify-content-between.align-items-center(style="border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom: 2px solid #474747;")
                h2.mb-0 
                button.btn.btn-light.btn-website-info(type="submit")
                    i.fas.fa-save.mr-2
                    | Cập nhật 
            .card-body.bg-white
                form(action="/admin/setting/general/website-info?_method=PATCH" method="POST" id="form-website-info" enctype="multipart/form-data")
                    .row
                        .col-md-6
                            .form-group
                                label(for="WebsiteName") Tên Website
                                .input-group
                                    .input-group-prepend
                                        span.input-group-text
                                            i.fas.fa-globe
                                    input#WebsiteName.form-control(type="text" name="WebsiteName" value=settingData.WebsiteName required)
                            
                            .form-group
                                label(for="CompanyName") Tên công ty
                                .input-group
                                    .input-group-prepend
                                        span.input-group-text
                                            i.fas.fa-building
                                    input#CompanyName.form-control(type="text" name="CompanyName" value=settingData.CompanyName required)
                            
                            .form-group
                                label(for="PhoneNumber") Hotline
                                .input-group
                                    .input-group-prepend
                                        span.input-group-text
                                            i.fas.fa-phone-alt
                                    input#PhoneNumber.form-control(type="tel" name="PhoneNumber" value=settingData.PhoneNumber required)
                            
                            .form-group
                                label(for="TimeOpen") Thời gian làm việc
                                .input-group
                                    .input-group-prepend
                                        span.input-group-text
                                            i.fa-regular.fa-clock
                                    input#TimeOpen.form-control(type="text" name="TimeOpen" value=settingData.TimeOpen required)
                            
                            .form-group
                                label(for="Email") Email
                                .input-group
                                    .input-group-prepend
                                        span.input-group-text
                                            i.fas.fa-envelope
                                    input#Email.form-control(type="email" name="Email" value=settingData.Email required)
                            
                            .form-group
                                label(for="Address") Địa chỉ
                                .input-group
                                    .input-group-prepend
                                        span.input-group-text
                                            i.fas.fa-map-marker-alt
                                    input#Address.form-control(type="text" name="Address" value=settingData.Address required)
                            
                            .form-group
                                label(for="mapEmbed") Bản đồ (Nhúng iframe)
                                .input-group
                                    .input-group-prepend
                                        span.input-group-text
                                            i.fas.fa-map
                                    textarea#mapEmbed.form-control(name="mapEmbed" rows="3") #{settingData.MapEmbed}
                            
                            .form-group
                                label(for="Copyright") Copyright
                                .input-group
                                    .input-group-prepend
                                        span.input-group-text
                                            i.fas.fa-copyright
                                    input#Copyright.form-control(type="text" name="Copyright" value=settingData.Copyright required)
                        
                        .col-md-6
                            .row 
                                .col-md-4
                                    div(
                                        class="form-group"
                                        upload-image
                                        )
                                        label(for="Logo" class="font-weight-bold") Logo
                                        input(
                                            type="file" 
                                            id="Logo" 
                                            name="Logo"
                                            class="form-control-file"
                                            require
                                            upload-image-input     
                                            )
                                        img(
                                            src=settingData.Logo
                                            upload-image-preview
                                            class="upload-preview"
                                    )
                                .col-md-4
                                    .form-group
                                        div(
                                            class="form-group"
                                            upload-image
                                            )
                                            label(for="BannerHome" class="font-weight-bold") Banner Trang chủ
                                            input(
                                                type="file" 
                                                id="BannerHome" 
                                                name="BannerHome"
                                                class="form-control-file"
                                                require
                                                upload-image-input     
                                                )
                                            img(
                                                src=settingData.BannerHome
                                                upload-image-preview
                                                class="upload-preview"
                                            )
                                .col-md-4
                                    .form-group
                                        div(
                                            class="form-group"
                                        upload-image
                                        )
                                        label(for="BannerCommunity" class="font-weight-bold") Banner Trang Cộng Đồng
                                        input(
                                            type="file" 
                                            id="BannerCommunity" 
                                            name="BannerCommunity"
                                            class="form-control-file"
                                            require
                                            upload-image-input     
                                            )
                                        img(
                                            src=settingData.BannerCommunity
                                            upload-image-preview
                                            style=""
                                            class="upload-preview"
                                        )
                                .col-md-4
                                    .form-group
                                        div(
                                            class="form-group"
                                        upload-image
                                        )
                                        label(for="ImageServiceHealthy" class="font-weight-bold") Ảnh Dịch Vụ Khám Cá
                                        input(
                                            type="file" 
                                            id="ImageServiceHealthy" 
                                            name="ImageServiceHealthy"
                                            class="form-control-file"
                                            require
                                            upload-image-input     
                                            )
                                        img(
                                            src=settingData.ImageServiceHealthy
                                            upload-image-preview
                                            class="upload-preview"
                                        )
                                .col-md-4
                                    .form-group
                                        div(
                                            class="form-group"
                                        upload-image
                                        )
                                        label(for="ImageServicePond" class="font-weight-bold") Ảnh Dịch Vụ Cải Thiện Môi Trường 
                                        input(
                                            type="file" 
                                            id="ImageServicePond" 
                                            name="ImageServicePond"
                                            class="form-control-file mt-2"
                                            require
                                            upload-image-input     
                                            )
                                        img(
                                            src=settingData.ImageServicePond
                                            upload-image-preview
                                            class="upload-preview"
                                        )
                                .col-md-4
                                    .form-group
                                        div(
                                            class="form-group"
                                        upload-image
                                        )
                                        label(for="ImageServiceOnline" class="font-weight-bold") Ảnh Dịch Vụ Tư Vấn Online
                                        input(
                                            type="file" 
                                            id="ImageServiceOnline" 
                                            name="ImageServiceOnline"
                                            class="form-control-file"
                                            require
                                            upload-image-input     
                                            )
                                        img(
                                            src=settingData.ImageServiceOnline
                                            upload-image-preview
                                            class="upload-preview"
                                        )
        script.

                    const uploadImage = document.querySelectorAll("[upload-image]");
                        if (uploadImage) {
                        const uploadImageInput = document.querySelectorAll("[upload-image-input]");
                        const uploadImagePreview = document.querySelectorAll("[upload-image-preview]");
                        uploadImageInput.forEach((input, index) => {
                            input.addEventListener("change", (e) => {
                            const file = e.target.files[0];
                            if (file) {
                                uploadImagePreview[index].src = URL.createObjectURL(file);
                            }
                            });
                        });
                    }

                // Edit Website Info 
                    const formWebsiteInfo = document.querySelector("#form-website-info");
                    const btnWebsiteInfo = document.querySelector(".btn-website-info");
                    if (formWebsiteInfo) {
                    btnWebsiteInfo.addEventListener("click", (e) => {
                        e.preventDefault();
                        formWebsiteInfo.submit();
                    });
                    }
                    // End Edit Website Info

                // Show Alert Từ JS admin qua
                    const showAlert = document.querySelector("[show-alert]");
                    if (showAlert) {
                    const time = showAlert.getAttribute("data-time");
                    setTimeout(() => {
                        showAlert.classList.add("alert-hidden");
                    }, time);

                    const closeAlert = document.querySelector("[close-alert]");
                    closeAlert.addEventListener("click", () => {
                        showAlert.classList.add("alert-hidden");
                    });
                    }
                // End Show Alert


                // Logout
                    const btnLogout = document.querySelector("[button-logout]");
                    console.log(btnLogout);
                    btnLogout.addEventListener("click", () => {
                    let url = new URL(window.location.href);
                    const check = confirm("Bạn có chắc chắn muốn đăng xuất!");
                    if (check) {
                        window.location.href = "/auth/logout";
                    } else {
                        return;
                    }
                    });

                    // End logout