extends ../../layouts/default.pug
include ../../mixins/mixin-title.pug
include ../../mixins/alert.pug
block main
            //- pre
            //-    code #{JSON.stringify(appoinmentInfo,null,2)}
            +title("Chi Tiết Đơn Hàng")   
            +alert-success("5000")
            +alert-error("5000")  
            .order-details(style="margin-top: 100px;")
               .order-information 
                  .row 
                     .col-8
                           h2 Thông tin đơn đặt lịch
                           .row 
                              .col-5 

                                 b(style="margin-right: 4px") ◉ Mã Đơn Hàng: 
                                 span #{appoinmentInfo.AppointmentID}
                                 br
                                 b(style="margin-right: 4px") ◉ Ngày: 
                                 span #{appoinmentInfo.Date} 
                                 br
                                 b(style="margin-right: 4px") ◉ Thời gian hẹn: 
                                 span #{appoinmentInfo.Shift}
                              
                              .col-7 

                                 b(style="margin-right: 4px") ◉ Tên Khách Hàng: 
                                 span #{appoinmentInfo.CustomerFullName}
                                 br
                                 b(style="margin-right: 4px") ◉ Số điện thoại: 
                                 span #{appoinmentInfo.PhoneNumber}
                                 if(appoinmentInfo.Name != "Tư Vấn Online")
                                    br
                                    b(style="margin-right: 4px") ◉ Địa chỉ: 
                                    span #{appoinmentInfo.AddressAppointment} 
                                    br
                                    b(style="margin-right: 4px") ◉ Thời gian hẹn: 
                                    span #{appoinmentInfo.Shift}
                     .col-4(style="    margin-top: 20px;")
                           if(appoinmentInfo.Process == "Pending")
                              span(style="    background-color: #21A0B3; color: #fffbfb; font-size: 20px; padding: 18px; border-radius: 20px; margin-left: 150px;") Chờ duyệt
                           if(appoinmentInfo.Process == "Ready")
                              span(style="    background-color: #21A0B3; color: #fffbfb; font-size: 20px; padding: 18px; border-radius: 20px; margin-left: 150px;") Sẵn Sàng
                           if(appoinmentInfo.Process == "Accepted")
                              span(style="    background-color: #21A0B3; color: #fffbfb; font-size: 20px; padding: 18px; border-radius: 20px; margin-left: 150px;") Bác sĩ đã tiếp nhận
                           if(appoinmentInfo.Process == "Process")
                              span(style="    background-color: #21A0B3; color: #fffbfb; font-size: 20px; padding: 18px; border-radius: 20px; margin-left: 150px;") Đang thực hiện
                           if(appoinmentInfo.Process == "Successed")
                              span(style="    background-color: #21A0B3; color: #fffbfb; font-size: 20px; padding: 18px; border-radius: 20px; margin-left: 20px;") Đã hoàn thành 
                              if feedBack && feedBack.Content
                                 i.fa.fa-star.ml-3#feedbackBtn(style="font-size: 32px; cursor: pointer; color: #d9bd21") 
                              else 
                                 i.fa.fa-star.ml-3#feedbackBtn(style="font-size: 32px; cursor: pointer;") 
                           if(appoinmentInfo.Process == "Cancled")
                              span(style="    background-color: #21A0B3; color: #fffbfb; font-size: 20px; padding: 18px; border-radius: 20px; margin-left: 150px;") Bị Hủy
                  
                        
                  table.table.table-striped.mt-5.table-my-appointment
                     thead 
                        if(appoinmentInfo.Process == "Successed")
                           tr(style="text-align: center")  
                              th Tên dịch vụ
                              th Giá
                        else
                           tr(style="text-align: center")  
                              th Tên dịch vụ
                              th Giá
                     tbody 
                        if(appoinmentInfo.Process == "Successed")
                           each detail in objectPayment.serviceDetails
                              tr 
                                 td.text-center.align-middle #{detail.description}
                                 td.text-center.align-middle #{detail.amount}

                           tr 
                              td.text-center.align-middle Tổng
                              td.text-center.align-middle #{objectPayment.totalFee}
                        else
                           tr 
                              td.text-center.align-middle #{appoinmentInfo.Name}
                              td.text-center.align-middle #{appoinmentInfo.PriceFormat}

                  .information-doctor
                     .row 
                        .col-6 
                           h2 Bác sĩ thực hiện 
                           b ◉ #{appoinmentInfo.VetFullName}
                           br
                           b ◉ Chuyên ngành: #{appoinmentInfo.Specialization}
                           br
                           img(src=appoinmentInfo.VetAvatar, alt="")
                        .col-6 
                           if(appoinmentInfo.Name == "Tư Vấn Online")
                              p(style="margin: 0; font-size: 23px;font-weight: 700;") ◉ Link Google Meet: 
                              a(href=appoinmentInfo.GoogleMeet style=" text-decoration: underline; color: #1695cf;") #{appoinmentInfo.GoogleMeet}
                           else 
                            if(appoinmentInfo.Process == "Successed")
                                .additional-links.mb-3(style="margin-left: 200px;")
                                    a.btn.btn-info.mr-2(href=`/koi/my-appointment/detail/prescription/${appoinmentInfo.AppointmentID}`) Chi tiết đơn thuốc
                                    a.btn.btn-info.mr-2(href=`/koi/my-appointment/detail/pond/${appoinmentInfo.AppointmentID}`) Chi tiết thông số cá
                            .thank-you-heart 
                              p Koi Vet xin cảm ơn 
                              .heart 
            #feedbackModal.modal.fade
               .modal-dialog
                  .modal-content

                     h5.modal-title Đánh giá chúng tôi
                     .modal-body
                        form#feedbackForm(action=`/koi/my-appointment/feedback/${appoinmentInfo.AppointmentID}` method="post")
                           .form-group
                              .star-rating
                                 b.star(data-value="1") &#9733;

                                 b.star(data-value="2") &#9733;

                                 b.star(data-value="3") &#9733;

                                 b.star(data-value="4") &#9733;
                                 b.star(data-value="5") &#9733;
                              input(type="hidden" name = "starSelect" id="starSelect")
                              input(type="hidden" name = "accountID" id="accountID" value=userInfo.AccountID)
                                    
                           .form-group
                              if feedBack && feedBack.Content
                                 textarea#comment.form-control(name="comment" rows="3"  required)  #{feedBack.Content}
                                
                              else 
                                 textarea#comment.form-control(name="comment" rows="3" placeholder="Nhận xét của bạn" required)
                           .modal-footer.r
                              button.btn.btn-danger(type="button" data-dismiss="modal") Hủy
                              if feedBack != null
                                 button.btn.btn-success#btn-update-feedback(type="submit" ) Cập nhật
                              else 
                                 button.btn.btn-success#btn-success-feedback(type="submit" ) Gửi


            script.
                    const feedBack = !{JSON.stringify(feedBack)};
                        const formFeedback = document.getElementById("feedbackForm");
                        var starSelect = document.getElementById("starSelect");
                        const btnSuccessFeedback =  document.getElementById('btn-success-feedback');
                        if(btnSuccessFeedback){
                           document.getElementById('btn-success-feedback').addEventListener('click', (e) => {
                            e.preventDefault();
                            if(!starSelect.value){
                                 alert('Vui lòng chọn số sao đánh giá');
                            }else{
                               alert('Cảm ơn bạn đã gửi đánh giá!');
                           $('#feedbackModal').modal('hide');
                           formFeedback.submit();
                            }
                          
                        });
                        }
                      
                        const btnUpdateFeedBack = document.getElementById("btn-update-feedback");
                        console.log("------");
                        console.log(btnUpdateFeedBack)
                        if(btnUpdateFeedBack){
                           
                           btnUpdateFeedBack.addEventListener('click', (e) => {
                              e.preventDefault();
                              const starRating = document.querySelector(".star-rating");
                              console.log(starRating)
                              const countStarUpdate = starRating.querySelectorAll(".active").length;
                              console.log("*****************")
                              console.log(countStarUpdate)
                              console.log("*****************")
                              starSelect.value = countStarUpdate;
                              alert('Cảm ơn bạn đã cập nhật đánh giá!');
                              $('#feedbackModal').modal('hide');
                              formFeedback.submit();
                           })
                        }


                    const stars = document.querySelectorAll('.star');
                        if(stars){    
                              const starSelect = document.getElementById('starSelect');
                        stars.forEach(star => {
                        star.addEventListener('click', () => {
                              const rating = star.getAttribute('data-value');
                              starSelect.value = rating;
                              stars.forEach(s => {
                                 s.classList.remove('selected');
                              });
                              star.classList.add('selected');
                              highlightStars(rating);
                        });

                        star.addEventListener('mouseover', () => {
                              const rating = star.getAttribute('data-value');
                              highlightStars(rating);
                        });

                        star.addEventListener('mouseout', () => {
                              highlightStars(selectedRating);
                        });
                        });
                        }
                     
                        if(feedBack && feedBack.Content != null){
                           const starOld=feedBack.Star;
                           console.log("okkkkkkk")
                           console.log(starOld)
                           console.log(stars)
                           highlightStars(starOld);
                           
                           
                        }
                        


                        function highlightStars(rating) {
                           stars.forEach(star => {
                              if (star.getAttribute('data-value') <= rating) {
                                    star.classList.add('active');
                              } else {
                                    star.classList.remove('active');
                              }
                           });
                        }

                        document.getElementById('feedbackBtn').addEventListener('click', function() {
                           $('#feedbackModal').modal('show');
                        });
