extends ../../layouts/default.pug
include ../../mixins/mixin-title.pug
include ../../mixins/alert.pug
block main
            //- pre
            //-    code #{JSON.stringify(appoinmentInfo,null,2)}
            +title("Chi Tiết Đơn Hàng")   
            +alert-success("5000")
            +alert-error("5000")  
            .order-details(style="margin-top: 100px;")
               .order-information 
                  .row 
                     .col-8
                           h2 Thông tin đơn đặt lịch
                           .row 
                              .col-5 

                                 b(style="margin-right: 4px") ◉ Mã Đơn Hàng: 
                                 span #{appoinmentInfo.AppointmentID}
                                 br
                                 b(style="margin-right: 4px") ◉ Ngày: 
                                 span #{appoinmentInfo.Date} 
                                 br
                                 b(style="margin-right: 4px") ◉ Thời gian hẹn: 
                                 span #{appoinmentInfo.Shift}
                              
                              .col-7 

                                 b(style="margin-right: 4px") ◉ Tên Khách Hàng: 
                                 span #{appoinmentInfo.CustomerFullName}
                                 br
                                 b(style="margin-right: 4px") ◉ Số điện thoại: 
                                 span #{appoinmentInfo.PhoneNumber}
                                 if(appoinmentInfo.Name != "Tư Vấn Online")
                                    br
                                    b(style="margin-right: 4px") ◉ Địa chỉ: 
                                    span #{appoinmentInfo.AddressAppointment} 
                                    br
                                    b(style="margin-right: 4px") ◉ Thời gian hẹn: 
                                    span #{appoinmentInfo.Shift}
                     .col-4(style="    margin-top: 20px;")
                           if(appoinmentInfo.Process == "Pending")
                              span(style="    background: linear-gradient(135deg, #2f9dd6 0%, #3a8cd2 100%); color: #fffbfb; font-size: 20px; padding: 18px; border-radius: 20px; margin-left: 150px;") Chờ duyệt
                              button.payment-btn.ml-5#button-cancel(style="background: linear-gradient(135deg, #c52528e0, #d70c0c); height: 40px;width: 40px; padding-left: 10px;    padding-left: 36px;")
                                 i.fa.fa-times.mr-2
                           if(appoinmentInfo.Process == "Ready")
                              span(style="    background: linear-gradient(135deg, #2f9dd6 0%, #3a8cd2 100%); color: #fffbfb; font-size: 20px; padding: 18px; border-radius: 20px; margin-left: 150px;") Sẵn Sàng
                              button.payment-btn.ml-5#button-cancel(style="background: linear-gradient(135deg, #c52528e0, #d70c0c); height: 40px;width: 40px; padding-left: 10px;    padding-left: 36px;")
                                 i.fa.fa-times.mr-2
                           if(appoinmentInfo.Process == "Accepted")
                              span(style="    background: linear-gradient(135deg, #2f9dd6 0%, #3a8cd2 100%); color: #fffbfb; font-size: 20px; padding: 18px; border-radius: 20px; margin-left: 150px;") Đã tiếp nhận
                              button.payment-btn.ml-5#button-cancel(style="background: linear-gradient(135deg, #c52528e0, #d70c0c); height: 40px;width: 40px; padding-left: 10px;    padding-left: 36px;")
                                 i.fa.fa-times.mr-2
                           if(appoinmentInfo.Process == "Process")
                              span(style="    background: linear-gradient(135deg, #2f9dd6 0%, #3a8cd2 100%); color: #fffbfb; font-size: 20px; padding: 18px; border-radius: 20px; margin-left: 150px;") Đang thực hiện
                           if(appoinmentInfo.Process == "Successed")
                              span(style="    background: linear-gradient(135deg, #2f9dd6 0%, #3a8cd2 100%); color: #fffbfb; font-size: 20px; padding: 18px; border-radius: 20px; margin-left: 20px;") Đã hoàn thành 
                              if feedBack && feedBack.Content
                                 i.fa.fa-star.ml-3#feedbackBtn(style="font-size: 32px; cursor: pointer; color: #d9bd21") 
                              else 
                                 i.fa.fa-star.ml-3#feedbackBtn(style="font-size: 32px; cursor: pointer;") 
                           if(appoinmentInfo.Process == "Cancled")
                              span(style="    background-color: #21A0B3; color: #fffbfb; font-size: 20px; padding: 18px; border-radius: 20px; margin-left: 150px;") Bị Hủy
                  #modalDistance.modal-distance(style="display: none;")
                     .modal-distance-content
                        .modal-icon
                           i.fas.fa-exclamation-triangle
                           h2 Xác thực
                           p Bạn có chắn chắn  muốn xóa lịch hẹn này không?
                     
                        .modal-footer-confirm
                           button.btn.btn-secondary.payment-btn.mr-4#closeModal(type='button' data-dismiss='modal' style="background: linear-gradient(135deg, #66616b, #53575b);") 
                              i.fa.fa-times
                              span Hủy
                           button#submitModal.btn.btn-danger.payment-btn(type='submit') 
                              i.fa.fa-check
                              span Xác nhận  
                  #notificationModal.modal-distance(style="display: none;")
                     .modal-distance-content
                        .modal-icon
                           i.fas.fa-exclamation-circle
                           h2 Thông báo
                           p Bạn chỉ có thể hủy lịch hẹn trước 2 ngày!
                     
                        .modal-footer-confirm
                           button.btn.btn-secondary.payment-btn#closeNotificationModal(type='button' style="background: linear-gradient(135deg, #66616b, #53575b);") 
                              i.fa.fa-times
                              span Đóng    
                  form#form-cancel(action=`/koi/my-appointment/cancel/${appoinmentInfo.AppointmentID}`  hidden method="post")
                  table.table.table-striped.mt-5.table-my-appointment
                     thead 
                        if(appoinmentInfo.Process == "Successed")
                           tr(style="text-align: center")  
                              th Tên dịch vụ
                              th Giá
                        else
                           tr(style="text-align: center")  
                              th Tên dịch vụ
                              th Giá
                     tbody 
                        if(appoinmentInfo.Process == "Successed")
                           each detail in objectPayment.serviceDetails
                              tr 
                                 td.text-center.align-middle #{detail.description}
                                 td.text-center.align-middle #{detail.amount}

                           tr 
                              td.text-center.align-middle Tổng
                              td.text-center.align-middle #{objectPayment.totalFee}
                        else
                           tr 
                              td.text-center.align-middle #{appoinmentInfo.Name}
                              td.text-center.align-middle #{appoinmentInfo.PriceFormat}

                  .information-doctor
                     .row 
                        .col-6 
                           if(appoinmentInfo.VetFullName)
                              h2 Bác sĩ thực hiện 
                              b ◉ #{appoinmentInfo.VetFullName}
                              br
                              b ◉ Chuyên ngành: #{appoinmentInfo.Specialization}
                              br
                              img(src=appoinmentInfo.VetAvatar, alt="")
                           else 
                              h2 
                              b 
                              br
                              b 
                              br
                              br 
                              br
                              br
                              br
                              br
                              br
                              br 
                              br
                              br
                              br
                        .col-6 
                           if(appoinmentInfo.Name == "Tư Vấn Online")
                              p(style="margin: 0; font-size: 23px;font-weight: 700;") ◉ Link Google Meet: 
                              a(href=appoinmentInfo.GoogleMeet style=" text-decoration: underline; color: #1695cf;") #{appoinmentInfo.GoogleMeet}
                           else 
                            if(appoinmentInfo.Process == "Successed")
                                .additional-links.mb-3(style="margin-left: 0px;")
                                    a.btn.btn-info.mr-2.payment-btn(href=`/koi/my-appointment/detail/prescription/${appoinmentInfo.AppointmentID}`) 
                                       span Chi tiết đơn thuốc
                                    a.btn.btn-info.mr-2.payment-btn(href=`/koi/my-appointment/detail/pond/${appoinmentInfo.AppointmentID}`) 
                                       span Chi tiết thông số cá
                            .thank-you-heart 
                              p Koi Vet xin cảm ơn 
                              .heart 
            #feedbackModal.modal.fade
               .modal-dialog
                  .modal-content

                     h5.modal-title Đánh giá chúng tôi
                     .modal-body
                        form#feedbackForm(action=`/koi/my-appointment/feedback/${appoinmentInfo.AppointmentID}` method="post")
                           .form-group
                              .star-rating
                                 b.star(data-value="1") &#9733;

                                 b.star(data-value="2") &#9733;

                                 b.star(data-value="3") &#9733;

                                 b.star(data-value="4") &#9733;
                                 b.star(data-value="5") &#9733;
                              input(type="hidden" name = "starSelect" id="starSelect")
                              input(type="hidden" name = "accountID" id="accountID" value=userInfo.AccountID)
                                    
                           .form-group
                              if feedBack && feedBack.Content
                                 textarea#comment.form-control(name="comment" rows="3"  required)  #{feedBack.Content}
                                
                              else 
                                 textarea#comment.form-control(name="comment" rows="3" placeholder="Nhận xét của bạn" required)
                           .modal-footer.r
                              button.btn.btn-danger(type="button" data-dismiss="modal") Hủy
                              if feedBack != null
                                 button.btn.btn-success#btn-update-feedback(type="submit" ) Cập nhật
                              else 
                                 button.btn.btn-success#btn-success-feedback(type="submit" ) Gửi

            script.
                     const feedBack = !{JSON.stringify(feedBack)};
                     const appoinmentInfo = !{JSON.stringify(appoinmentInfo)};
                     const formCancel = document.querySelector("#form-cancel");
                     const buttonCancel = document.querySelector("#button-cancel");
                     const modalDistance = document.querySelector("#modalDistance");
                     const notificationModal = document.querySelector("#notificationModal");
                     const closeNotificationModal = document.querySelector("#closeNotificationModal");
                     buttonCancel.addEventListener("click",()=>{
                        const dateParts = appoinmentInfo.Date.split("-");
                           console.log(dateParts);
                           const appointmentDate = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                           const currentDate = new Date();
                           
                           
                           appointmentDate.setHours(0, 0, 0, 0);
                           currentDate.setHours(0, 0, 0, 0);
                           
                           
                           const diffTime = appointmentDate.getTime() - currentDate.getTime();
                           const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                           
                           if (diffDays < 2) {
                              notificationModal.style.display = "block";
                              return;
                           }
                        const cancleModal = document.querySelector("#closeModal");
                        const submitModal = document.querySelector("#submitModal");
                        modalDistance.style.display = "block";
                        cancleModal.addEventListener("click",()=>{
                           modalDistance.style.display = "none";
                        })
                        submitModal.addEventListener("click",()=>{
                           formCancel.submit();
                        })
                     })
                        if (closeNotificationModal) {
                           closeNotificationModal.addEventListener("click", () => {
                              notificationModal.style.display = "none";
                           });
                        }
            script(src="/js/feedback.js") 
            