extends ../../layouts/default.pug
include ../../mixins/mixin-title.pug
include ../../../admin/mixins/pagination.pug
include ../../mixins/alert.pug

block main
    .block-footer(style="height: 86vh ; margin-bottom: 20vh")
        +title("Lịch Hẹn Của Bạn")
        +alert-success("5000")
        +alert-error("5000")
        .filter-section
            form#filterForm(action="/koi/my-appointment" method="GET")
                .row
                    .col-md-3.col-sm-6
                        .form-group
                            label(for="serviceFilter") Dịch vụ
                            select#serviceFilter.form-control(name="serviceFilter" )
                                option(value="") Tất cả
                                option(value="DV0001" selected=serviceFilter == "DV0001") Khám Sức Khỏe
                                option(value="DV0002" selected=serviceFilter == "DV0002") Cải Thiện Môi Trường
                                option(value="DV0003" selected=serviceFilter == "DV0003") Tư Vấn Online
                    .col-md-3.col-sm-6
                        .form-group
                            label(for="dateFilter") Ngày
                            input#dateFilter.form-control(type="date" name="dateFilter" value=dateFilter)
                    .col-md-3.col-sm-6
                        .form-group
                            label(for="statusFilter") Trạng thái
                            select#statusFilter.form-control(name="statusFilter")
                                option(value="" selected=statusFilter == "") Tất cả
                                option(value="Pending" selected=statusFilter == "Pending") Chờ duyệt
                                option(value="Accepted" selected=statusFilter == "Accepted") Đã tiếp nhận
                                option(value="Ready" selected=statusFilter == "Ready") Sẵn sàng
                                option(value="Process" selected=statusFilter == "Process") Đang thực hiện
                                option(value="Successed" selected=statusFilter == "Successed") Đã hoàn thành
                                option(value="Cancle" selected=statusFilter == "Cancle") Bị Hủy
                    .col-md-3.col-sm-6
                        .form-group
                            label &nbsp;
                            button.btn.btn-primary.btn-block.payment-btn(type="submit") 
                                i.fas.fa-filter.mr-2
                                span Lọc
        .container-table 
            table.table.table-striped.table-bordered.table-my-appointment
                thead 
                    tr 
                        th STT
                        th Ngày
                        th
                            |   Dịch vụ
                            i.fas.fa-filter.ml-1#serviceFilterIcon
                        th Nơi khám
                        th Loại Đơn
                        th Trạng thái 
                        th Khác
                tbody 
                    if(listAppointment && listAppointment.length == 0)
                        tr
                            td(colspan="7").text-center.font-weight-bold Không có đơn hàng nào

                    else
                        each item,index in listAppointment
                            tr 
                                td #{(currentPage-1)*limit + index + 1}
                                td #{item.DateFormat}  
                                if(item.ServiceID == "DV0001")
                                    td Khám Sức Khỏe
                                if(item.ServiceID == "DV0002")
                                    td Cải Thiện Môi Trường
                                if(item.ServiceID == "DV0003")
                                    td Tư Vấn Online
                                if(item.ServiceID =="DV0003")
                                    td Online 
                                if(item.Address == null && item.ServiceID !="DV0003")
                                    td Khám tại trung tâm 
                                if(item.Address != null && item.ServiceID =="DV0002")
                                    td Tại nhà
                                if(item.Address != null && item.ServiceID =="DV0001")
                                    td Tại nhà
                                if(item.ServiceID =="DV0003")
                                    td Tư vấn 
                                else 
                                    td Lịch hẹn
                                if(item.Process =="Pending")
                                    td 
                                        p.process Chờ duyệt
                                if(item.Process =="Accepted")
                                    td 
                                        p.process Đã tiếp nhận
                                if(item.Process =="Ready")
                                    td 
                                        p.process Sẵn sàng
                                if(item.Process =="Process")
                                    td 
                                        p.process Đang thực hiện
                                if(item.Process =="Successed")
                                    td
                                        p.process Đã hoàn thành
                                if(item.Process =="Cancle")
                                    td 
                                        p.process Bị Hủy 
                                td 
                                    a.payment-btn(href=`/koi/my-appointment/detail/${item.AppointmentID}` value=`/koi/my-appointment/detail/${item.AppointmentID}` button-delete class="btn btn-info" style="width: 150px;height: 40px; background: linear-gradient(to bottom, #8dd8d7, #007bff);") 
                                        i.fas.fa-info-circle.mr-2
                                        span Chi tiết 
            +pagination(totalPages, currentPage, "/koi/my-appointment")  
        script(src="/admin/js/pagination.general.js") 
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js")

