//- SWP391/views/staff/pages/appointment/detail.pug
extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/mixin-title.pug
block main
    +alert-success("5000")
    +alert-error('5000')
    +title("Hồ sơ dịch vụ")
    //- pre
    //-     code= JSON.stringify(appoinmentInfo, null, 2)
    //-     code= JSON.stringify(objectPayment, null, 2)
    .block-sider(style="width:90%;margin-left:145px;")
        .order-details
            b(style="    font-size: 25px;") ◉ Mã Đơn Hàng: #{appoinmentInfo.AppointmentID}  |  
            b(style="    font-size: 25px;") ◉ Ngày: #{appoinmentInfo.Date} |  
            b(style="    font-size: 25px;") ◉ Thời gian hẹn: #{appoinmentInfo.Shift} 
            if(appoinmentInfo.Name == "Tư Vấn Online")
                    span(style="background: linear-gradient(135deg, #6aafd3 0%, #8bafce 100%); color: white; font-size: 20px; padding: 10px; border-radius: 20px; margin-left: 550px;") Đã thanh toán
            else 
                    if(payCenter == "thanh toán")
                        .payInCenter(style="margin-left: 200px;display: inline;")
                            a(href=`/staff/appointment/paymentCenter/${appoinmentInfo.AppointmentID}` class="btn btn-pay-center " style="margin-right: 70px;") 
                                i.fas.fa-money-bill-wave Thanh toán 
                            span(style="background: linear-gradient(135deg, #6aafd3 0%, #8bafce 100%); color: white; font-size: 20px; padding: 10px; border-radius: 20px; ") #{appoinmentInfo.StatusPaid}
                    else
                        span(style="background: linear-gradient(135deg, #6aafd3 0%, #8bafce 100%); color: white; font-size: 20px; padding: 10px; border-radius: 20px; margin-left: 550px;") #{appoinmentInfo.StatusPaid}
            p ______________________________________________________________
            
            h2(style="font-weight: 900; text-decoration: underline; margin: 10px 0 10px 0") Thông tin lịch hẹn
            if(appoinmentInfo.Name == "Tư Vấn Online")
                    span(style="color: black; font-weight: 700") ◉ Thanh Toán: 
                    b Đã thanh toán
            else
                    if(appoinmentInfo.StatusPaid == "Đã thanh toán")
                        span(style="color: black; font-weight: 700") ◉ Thanh Toán: 
                        b Đã thanh toán
                    else
                        span(style="color: black; font-weight: 700") ◉ Thanh Toán: 
                        b Chưa thanh toán
            br
            b ◉ [Anh/Chị] :
            b(style="color: black; font-weight: 600; margin-left: 10px") #{appoinmentInfo.CustomerFullName}
            br
            if(appoinmentInfo.AddressAppointment)
                b ◉ Địa chỉ: #{appoinmentInfo.AddressAppointment}
                br
                b ◉ Số điện thoại: #{appoinmentInfo.PhoneNumber}   
                br
                if(appoinmentInfo.Name == "Khám Sức Khỏe")
                    b ◉ Nơi khám: Tại nhà
                    br
                    p.lead
                    b(style=" min-width: 180px; display: inline-block; font-weight: bold;") ◉ Mô tả của khách hàng: 
                    p(style="background-color: #b7cfd587; padding: 10px; border-radius: 20px; width: 500px;")   #{appoinmentInfo.HealthKoi}

            else   
                if(appoinmentInfo.Name == "Khám Sức Khỏe")
                    b ◉ Nơi khám: Tại trung tâm
                    br
                else
                b ◉ Số điện thoại: #{appoinmentInfo.PhoneNumber}
                br
            if(appoinmentInfo.ServiceID == "DV0001" && appoinmentInfo.StatusPaid =="Đã thanh toán" && appoinmentInfo.BillID != null && appoinmentInfo.Process =="Successed")
              
                table.table.table-striped.mt-5.table-appointment-detail
                    thead 
                        tr(style="text-align: center")  
                            th STT
                            th Tên dịch vụ
                            th Giá
                    tbody 
                        each detail,index in objectPayment.serviceDetailsFormat
                            tr 
                                td #{index + 1}
                                td #{detail.description}
                                td #{detail.amount} VNĐ
                        tr 
                            td #{objectPayment.serviceDetailsFormat.length + 1}
                            td Tổng cộng:
                            td #{objectPayment.totalServiceFeeFormat} VNĐ
            else if(appoinmentInfo.ServiceID == "DV0002" && appoinmentInfo.StatusPaid =="Đã thanh toán" && appoinmentInfo.BillID != null && appoinmentInfo.Process =="Successed")
                table.table.table-striped.mt-5.table-appointment-detail
                     thead 
                           tr(style="text-align: center")  
                              th STT
                              th Tên dịch vụ
                              th Giá
                     tbody 
                        if(appoinmentInfo.Process == "Successed")
                           each detail,index in objectPayment.serviceDetails
                              tr 
                                 td #{index+1}
                                 td.text-center.align-middle #{detail.description}
                                 td.text-center.align-middle #{detail.amount} VNĐ

                           tr 
                              td #{objectPayment.serviceDetails.length + 1  }
                              td.text-center.align-middle Tổng
                              td.text-center.align-middle #{objectPayment.totalFee} VNĐ

            else
                table.table.table-striped.mt-5.table-appointment-detail
                    thead 
                        tr(style="text-align: center")  
                            th STT
                            th Tên dịch vụ
                            th Giá
                    tbody 
                        tr 
                            td 1
                            td #{appoinmentInfo.Name}
                            td #{appoinmentInfo.PriceFormat}    
            .row 
                .col-3
                    if(VetID != null)
                        b ◉ Bác sĩ: 
                        span(style="color: black; font-weight: 500; margin-left: 10px") Dr: #{appoinmentInfo.VetFullName}
                        br 
                        b ◉ Chuyên ngành: 
                        b(style="color: black; font-weight: 500; margin-left: 10px") #{appoinmentInfo.Specialization}
                        br
                        img(src=appoinmentInfo.VetAvatar)
                    if(appoinmentInfo.Name == "Tư Vấn Online" && appoinmentInfo.VetID != null)
                        b
                        b(style="display: block; margin-top: 30px") Link Google Meet:
                        a(href=appoinmentInfo.GoogleMeet style="color: #5e7cce; font-weight: 600 ;text-decoration: revert; ") #{appoinmentInfo.GoogleMeet}   
                .col-2
                    
                .col-7 
                    if(appoinmentInfo.Name == "Tư Vấn Online")
                        h4(style="margin-bottom: 100px;font-family: 'Arial', sans-serif;font-size: 32px; font-weight: 600;  background: linear-gradient(135deg, #6aafd3 0%, #8bafce 100%); border-radius: 41px; text-align: center; height: 73px; padding: 19px; width: 800px;") Tổng tiền thanh toán: #{appoinmentInfo.PriceFormat} 
                    else
                        if(appoinmentInfo.ServiceID == "DV0001" && appoinmentInfo.StatusPaid =="Đã thanh toán" && appoinmentInfo.BillID != null && appoinmentInfo.Process =="Successed")
                            h4(style="margin-bottom: 100px;font-family: 'Arial', sans-serif;font-size: 32px; font-weight: 600;     background: linear-gradient(135deg, #6aafd3 0%, #8bafce 100%); border-radius: 41px; text-align: center; height: 73px; padding: 19px; width: 800px;") Tổng tiền : #{objectPayment.totalServiceFeeFormat} VNĐ
                        else if(appoinmentInfo.ServiceID == "DV0002" && appoinmentInfo.StatusPaid =="Đã thanh toán" && appoinmentInfo.BillID != null && appoinmentInfo.Process =="Successed")
                            h4(style="margin-bottom: 100px;font-family: 'Arial', sans-serif;font-size: 32px; font-weight: 600;     background: linear-gradient(135deg, #6aafd3 0%, #8bafce 100%); border-radius: 41px; text-align: center; height: 73px; padding: 19px; width: 800px;") Tổng tiền : #{objectPayment.totalFee} VNĐ
                        else
                            h4(style="margin-bottom: 100px;font-family: 'Arial', sans-serif;font-size: 32px; font-weight: 600;     background: linear-gradient(135deg, #6aafd3 0%, #8bafce 100%); border-radius: 41px; text-align: center; height: 73px; padding: 19px; width: 800px;") Tổng tiền ước tính: #{appoinmentInfo.PriceFormat} VNĐ
        
            button.payment-btn(class="btn btn-detail-back" onclick=`history.back()` style="margin: 0 42%;") 
                i.fas.fa-arrow-left
                span Quay lại